$vermelho-primario: #e74c3c;
$vermelho-secundario: #c0392b;
$cinza: #e5e5e5;
$preto: #000000;
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    border-bottom: 1px solid black;

    h2{
        margin: 1em 1em;
    }
  
    &.dark {
      border: 1px solid #303030;
    }
  
    .theme_button {
      margin: 1em 1em;
    }
  }