*{
    font-family: 'Montserrat', sans-serif; 
}

.dark {
    background-color: #151515;
    color: #fff;
    
  }
  
.light {
    background-color: #f5f5f5;
    color: #333;
}

.tasklist_title{
    text-align: center;
}
